body {
	background-color: #06263F;
	color: #F1F2F2;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	font-size: 36px;
	color: #AFD24D;
	font-weight: 300;
    border-bottom: 1px solid #AFD24D;
}

h2 {
	font-size: 24px;
	color: #AFD24D;
	font-weight: 300;
	clear: both;
	width: 100%;
	float: left;
}
h3 {
	font-weight: 400;
	font-style: normal;
}

ul {
	clear: both;
}

li {
	padding-bottom: 10px;
}

a {
	color: #ffcf8a;
	text-decoration: none;
	border-bottom: 1px solid #ffdbaa;
}

hr {
	border-style: none;
	color: #666;
}

a:hover {
	color: #ffa72d;
	border-bottom: 1px solid #ffb44b;
}

a:focus, a:active {
	color: #ffa72d;
	outline: 2px solid #87c5f4;
	border-bottom: none;
}

input:focus, input:active {
	outline: 2px solid #87c5f4;
}

#main-content {
	max-width: 600px;
	margin: 0 auto 40px;
}

.title {
	display: block;
	border-bottom: 1px solid #06263F;
}

input.print-button {
    background: #d2d2d2;
    border: 3px solid #06263F;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 20px auto 0;
    display: block;
}

input.print-button:hover, input.print-button:active {
	background: #fff;
}

.col-2 {
	width: 46%;
	padding: 0 2%;
	float: left;
	margin-bottom: 20px;
}

.col-3-onethirds {
	width: 29%;
	padding: 0 2%;
	float: left;
}

.col-3-twothirds {
	width: 62%;
	padding: 0 2%;
	float: left;
}

.disability-section {
    border-bottom: 1px solid #888;
    float: left;
    padding-top: 10px;
}

.last-section {
	border-bottom: none;
}

.disability-type {
	width: 205px;
	display: inline-block;
}

.disability-type img {
	width: 70px;
	float: left;
}

.disability-type p {
    font-size: 20px;
    margin-left: 10px;
    float: left;
}

.disability-icon {
	width: 70px;
  height: 70px;
  float: left;
}

.colorblind {
    background: url(../icons/colorblind-white.png);
		background-size: contain;
}

.low-vision {
    background: url(../icons/low-vision-white.png);
		background-size: contain;
}

.blind {
    background: url(../icons/blind-white.png);
		background-size: contain;
}

.cognitive {
    background: url(../icons/cognitive-white.png);
		background-size: contain;
}

.physical {
    background: url(../icons/physical-white.png);
		background-size: contain;
}

.deaf {
    background: url(../icons/deaf-white.png);
		background-size: contain;
}

.elderly {
    background: url(../icons/elderly-white.png);
		background-size: contain;
}

ul.checklist {
	padding-left: 10px;
	clear: both;
}

.checklist li {
	background: url(../icons/checkbox.png) no-repeat left top;
	list-style-type: none;
	padding: 0 0 18px 35px;
	margin-left: 5px;
}

.checklist li:last-child {
	padding-bottom: 0;
}

.checklist li p {
	margin: 0;
}

#footer {
    border-top: 1px solid #777;
    padding-bottom: 10px;
    background: #031625;
    font-size: 14px;
}

#footer p {
	text-align: center;
}

/*======================
Responsive styles
======================*/

@media screen and (max-width: 580px) {

	#main-content {
		padding: 0 2%;
	}

	.col-2 {
		width: 96%;
		padding: 0 2%;
		margin-bottom: 0;
	}

	.col-3-onethirds {
		width: 96%;
		padding: 0 2%;
		margin-bottom: 0;
	}

	.col-3-twothirds {
		width: 96%;
		padding: 0 2%;
		margin-bottom: 0px;
	}

}

/*======================
Print styles
======================*/

@media print {

	@page {
		margin: 0.5in;
	}

	body {
		background-color: #ffffff;
		font-size: 13pt;
		color: #000000;
	}

	h1 {
		font-size: 20pt;
		color: #52681b;
		font-weight: 400;
	}

	h2 {
		font-size: 18pt;
		color: #52681b;
		font-weight: 400;
	}

	a {
		color: #0e5a94;
		border-bottom: 1px solid #0e5a94;
	}

	#main-content {
		width: 6in;
	}

	input.print-button {
		display: none;
	}

	.col-2 {
		width: 2.5in;
	}

	.colorblind {
    	filter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
      	filter: invert(100%);
	}

	.low-vision {
	    filter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
      	filter: invert(100%);
	}

	.blind {
	    cfilter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
      	filter: invert(100%);
	}

	.cognitive {
	    filter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
     	filter: invert(100%);
	}

	.physical {
	    filter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
      	filter: invert(100%);
	}

	.deaf {
	   	filter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
      	filter: invert(100%);
	}

	.elderly {
	    filter: url(inverse.svg#negative);
      	-webkit-filter: invert(100%);
      	filter: invert(100%);
	}

	ul.checklist {
		padding-left: 0;
	}

	.checklist li p {
		float: left;
		padding-left: 20px;
		width: 90%;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.checklist li {
		margin: 10px;
		padding: 0;
	}

	.checklist li::after {
		clear: both;
		content: '';
		display: table;
	}

	.checkbox {
		content: url(../icons/checkbox-black.png);
		float: left;
		width: 25px;
		height: 25px;
	}

	#footer {
		background: #fff;
	}
}
